* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

canvas {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	cursor: none;
	&:hover{
		cursor: none;
	}
}

body {
	overflow: hidden;
	background-color: black;
	/* cursor: none; */
}

.target {
	position: absolute;
	opacity: 0;
	width: 32px;
	aspect-ratio: 1/1;
	transform: rotate(-25deg);
	transition: opacity .25s ease-in;
	z-index: 1;
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;

	svg {
		position: relative;
		width: 100%;
		height: 100%;
		align-self: 1/1;
	}
}

body {
	font-family: Arial, sans-serif;
	background-color: #000729;
}

body:hover {
	.target {
		opacity: 1;
		transition-duration: .25s;
	}

	svg {
		fill: rgba(172, 255, 47, 0.5);
	}
}



.sender-container {
	/* position: absolute; */
	bottom: 0;
	/* border-top: 1px solid #ddd; */
	/* background-color: #000000; */
	width: 100%;
	z-index: 30;

	.form-sender {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		flex-flow: row wrap;
		align-items: center;
		/* width: calc( 100% - 20px ); */
		width: 100%;
		height: 24px;

		.inputsender {
			border: 0;
			flex-grow: 1;

			input[type="text"] {
				height: 24px;
				/* padding: 10px; */
				padding: .2rem .5rem;
				border: 1px solid;
				/* border-radius: 5px; */
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
				background-color: transparent;
				color:white;
				width: 100%;
				border: 0;
			}
			&:before {
				position: absolute;
				color:rgb(49, 214, 34);
				left:5px;
				content:" _";
				z-index: 999999999999;
				height: 32px;
				font-size:.7rem;
				
				animation-duration: .8s;
				animation-name: clignoter;
				animation-iteration-count: infinite;
				transition: none;
				line-height: 22px;
				font-weight:bolder;
			}
			/* &:after{
				top:0px;
				left:0px;
				color:white;
				content:"qsd_";
				z-index: 999999999999;
				width: 24px;
				height: 24px;
				background-color: #c2b099;
			} */
		}
		&:hover {
			height: 32px;

			input[type="text"] {
				height: 32px;
			}
			.inputsender:before {
				display: none;
			}
		}
		button {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			padding: 0 15px;
			background-color: #4CAF50;
			color: #fff;
			border: 0;
			cursor: pointer;
			height: 100%;
		}
	}
}

@keyframes clignoter {
	0%   { opacity: 1; }
	20%   {opacity: 0; }
	100% { opacity: 1; }
}

.join-container {
	position: absolute;
	top: 50%;
	left: 50%;
	/* left: calc(50% - (250px / 2)); */
	transform: translate(-50%,-50%);
	padding: 2px 2px 2px 2px;
	margin: 0;
	z-index: 9999999999;
	border-top-right-radius: .5rem;
	border-bottom-right-radius: .5rem;
	border-top-left-radius: .5rem;
	border-bottom-left-radius: .5rem;
	box-shadow: 0 0 9px 5px rgba(0,0,0,0.4);

	/* height: calc(100svh / 2);
	width: calc(100svw - 10px); */
	width: 250px;

	display: flex;
	justify-content: center;
	align-items: center;

	transition-property: all;
	transition-duration: 1s;
	z-index: 30;

	.form-join {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		width: 100%;
		.recycle {
			margin: 2px;
			background-color: #4777fa;
			padding: 2px 7px;
			border-radius: .2rem;
			border: 2px solid #ffffff;
			height: 26px;
		}
		#inputmodel-container,
		#inputjoin-container,
		#inputcolor-container,
		#inputname-container {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: flex-start;
			width:100%;
			.mess {
				margin: 2px;
				background-color: #c2b099;
				padding: 2px 7px;
				border-radius: .2rem;
				border: 2px solid #ffffff;
				flex-grow: 1;
				height: 26px;
			}

		}
		#inputmodel-container{
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-end;
			width:100%;
			aspect-ratio: 1/1;
			.models-container {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: flex-start;
				width:100%;
				.mess-model {
					margin: 2px;
					background-color: #c2b099;
					border-radius: .2rem;
					border: 2px solid #ffffff;
					height: 26px;
					flex-grow: 1;
					text-align: center;
				}
			}
		}
		#inputcolor-container{
			.mess-couleur {
				margin: 2px;
				background-color: #c2b099;
				border-radius: .2rem;
				border: 2px solid #ffffff;
				height: 26px;
				flex-grow: 1;
			}
		}
		#inputname-container {
			.mess[data-type="name"] {
				background-color: #159e15;
				color: white;
			}
		}
		#inputjoin-container {
			.mess[data-type="what"] {
				background-color: #4777fa;
				color: white;
				width: fit-content;
			}
		}

	}
}

.join-container.ok {
	left: -200px;
	width: 250px;

	&:hover {
		left: 0;
	}

}


.user-container,
.room-container {
	top: 0px;
	right: 0px;
	position: absolute;
	padding: 2px 2px 2px 2px;
	margin: 0;
	z-index: 9999999999;
	border-top-left-radius: .5rem;
	border-bottom-left-radius: .5rem;
	background-color: #ffffff;
}

.room-container {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: flex-end;

	.rooms {
		span {
			color: white;
			padding: .1rem .3rem;
			background-color: #0007299a;
			height: 24px;

			&:first-child {
				border-top-left-radius: .5rem;
				border-bottom-left-radius: .5rem;
			}

			&:last-child {
				border-top-right-radius: .5rem;
				border-bottom-right-radius: .5rem;
			}

			&.moi {
				background-color: #1d50009a;
			}
		}
	}
}

.user-container {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: flex-end;
	top: 50px;
	padding-right: 0;
	background-color: none;

	.users {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: flex-end;
		gap: 1px;

		.player-span {
			color: white;
			border-top-left-radius: .5rem;
			border-bottom-left-radius: .5rem;
			padding: .1rem .3rem;
			background-color: #0007299a;

			&.moi {
				background-color: #1d50009a;
			}
		}
	}
}